<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>DRMusic</title>

</head>


<body>

    <h1>Music Records (GET)</h1>
    <div id="app">
        <h2>Get All Records</h2>
        <button id="getAllButton" v-on:click="getAllRecords" class="btn btn-primary">Get all records</button>
        <br />
        <ul id="recordlist" v-if="records.length">
            <li v-for="record in records" :key="record.id">
                {{record.id}} : {{record.title }} {{ record.artist}} {{ record.duration}} {{ record.publicationYear}}
            </li>
        </ul>
        <div v-else>No Records</div>


        <h1>Records filter by title</h1>
    <div id="app">

        <input placeholder="Title" type="text" v-model="title" v-on:keyup.enter="filterByTitle(title)">
        <button v-on:click="filterByTitle(title)" class="btn btn-primary">
            Filter
        </button>

        <table v-if="records.length > 0" class="table table-striped">
            
            <tbody>
                <tr v-for="filteredrecords in allrecords">
                    <td>{{filteredrecords.id}}</td>
                    <td>{{filteredrecords.title}}</td>
                    <td>{{filteredrecords.artist}}</td>
                    <td>{{filteredrecords.duration}}</td>
                    <td>{{filteredrecords.publicationYear}}</td>
                </tr>
            </tbody>
        </table>
        <div v-else></div>
    </div>

    <h1>JWT records</h1>
    <div id="app">

        <div v-if="!loggedIn">
            <input v-model="auth.username" placeholder="Username" type="text">
            <input v-model="auth.password" placeholder="Password" type="password">
            <button @click="login">Login</button>
            <p v-if="authMessage">{{ authMessage }}</p>
        </div>
        <div v-else>
            <p>
                Logged in as {{ auth.username }}, role: {{ role }}
                <button @click="logout">Logout</button>
            </p>
            <div v-if="records.length > 0">
                <h2>Records</h2>
                <ul>
                    <li v-for="record in records" :key="record.id">{{ record.title }}</li>
                </ul>
            </div>
            <div v-else>
                <p>No records yet</p>
            </div>
            <p v-if="message">{{ message }}</p>
       
        </div>

        <h1>Add</h1>
     <div v-if="role !='null'">
            <input v-model="addData.title" placeholder="New Record title" type="text">
            <input v-model="addData.artist" placeholder="New record artist" type="text">
            <input v-model.number="addData.duration" placeholder="New record duration" type="number">
            <input v-model.datetime="addData.publicationYear" placeholder="New record publicationYear" type="datetime">
            <button @click="addRecord()">Add records</button>
        </div>


        <h1>Update</h1>
          <div v-if="role !='null'">
            <input v-model.number="updateData.id" placeholder="update-- Record id" type="number">
            <input v-model="updateData.title" placeholder="update-- Record title" type="text">
            <input v-model="updateData.artist" placeholder="update-- record artist" type="text">
            <input v-model.number="updateData.duration" placeholder="update-- record duration" type="number">
            <input v-model.datetime="updateData.publicationYear" placeholder="update-- record publicationYear" type="datetime">
            <button @click="updateDataRecord()">update records</button>
        </div>



        <h1>Delete</h1>
          <div v-if="role !='null'">
            <input v-model.number="deleteId" placeholder="delete Record id" type="number">
            <button @click="deleteRecord()">delete records</button>
        </div>


    </div>


        <script src="index.js"></script>

</body>

</html>